<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" />
    <title>hôpital soigne moi</title>
</head>
 <header>
    <div class="header">
        <a href="index.html" class="menu">Accueil</a>
        <a href="#" class="menu">Date de séjour</a>
        <a href="spécialistes.html" class="menu">Spécialistes</a>
        <a href="loginPage.html" class="menu">Inscription/Connexion</a>
    </div.header>
 </header>
 <P><HR></P>
<body>
    <div class="body">
        <ul class="liste">
            <li>Anatomie et cyotologie pathologiques</li>
            <li>Anesthésie réanimations</li>
            <li>Bactériologie</li>
            <li>Biochimie</li>
            <li>Cardiologie</li>
            <li>Chirguie générale et digestive</li>
            <li>Chirugie orthopédique et traumatologique</li>
            <li>Consultation ORL</li>
            <li>Département d'Aval des urgences</li>
            <li>Département Respiration</li>
            <li>Réanimation</li>
            <li>Réhabilitation</li>
            <li>Sommeil (R3S)</li>
            <li>Douleur</li>
        </ul>
        <img class="img_hospital" src="hopital.png" alt="Hopital Soigne Moi">
        <div class="presentation_hospital">
            L'hôpital Soigne moi est un établissement médical de premier plan situé au coeur de la ville, offrant des soins de santé de qualité et une accueillante pour les patients de tous âges.
            Fondé, il y a plusieurs décennies, l'hôpital est devenu un pilier de la communauté en fournissant des services médicaux de pointe et en mettant l'accent sur le bien être des patients.
            </div>
    </div>
</body>
<P class="rod_footer"><HR></P>
<footer>
    <div class="footer">
        <a href="#" class="menu">Plan du site</a>
        <a href="#" class="menu">Mentions légales</a>
        <a href="#" class="menu">Acessibilités</a>
        <a href="#" class="menu">Gestion des cookies</a>
    <div>
</footer>
</html>