<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" />
    <title>hôpital soigne moi</title>
</head>
 <header>
    <div class="header">
        <a href="index.html" class="menu">Accueil</a>
        <a href="#" class="menu">Date de séjour</a>
        <a href="spécialistes.html" class="menu">Spécialistes</a>
        <a href="loginPage.html" class="menu">Inscription/Connexion</a>
    </div.header>
 </header>
 <P><HR></P>
<body>
    <form action="" method="get" class="formLogin">
        <div class="formLogin">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required />
        </div>
        <div class="formLogin">
          <label for="password">Mot de passe</label>
          <input type="password" name="password" id="password" required />
        </div>
        <div class="formLogin">
          <input type="submit" value="Connexion"/>
        </div>
    </form>
    <a href="signup.html" class="signup">Inscription</a>   
</body>
<P class="rod_footer"><HR></P>
<footer>
    <div class="footer">
        <a href="#" class="menu">Plan du site</a>
        <a href="#" class="menu">Mentions légales</a>
        <a href="#" class="menu">Acessibilités</a>
        <a href="#" class="menu">Gestion des cookies</a>
    <div>
</footer>
</html>